# Drizzle
# Replace with your DB credentials!
DATABASE_URL="postgres://user:password@host:port/db-name"

ORIGIN=""

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""
SMTP_HOST=""
SMTP_SECURE=true
STMP_PORT=465
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM=""